.section-menu {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content:stretch;
  width: 100%;
  max-width: 950px;
  background-color: black;
  align-items:stretch;
}

.section-menu-button {
  flex: 1;
  border: 3px solid black;
  background-color:orange;
  color: black;
  margin: 0px;
  padding: 0px;
  border-radius: 0%;
  border: 0px solid black;
}

.section-menu-button:hover {
  transform: scale(1.05);
}

.section-menu-button-child {
  border: 3px solid black;
  margin: 0px;
  padding: 1px;
  font-size: 15px;
  height: 100%;
}

@media only screen and (max-width: 911px) {
  section-menu-button-child{
    font-size: 10px;
  }
}

